<!DOCTYPE html>
{%load static%}
<html>
    <head>
        <title>This is a picture from moon knight</title>
        <link rel="stylesheet" href="{% static 'css/sample.css'%}"/>
    </head>
    <body>
        <h1>This is access to records</h1>
        <p>Django level Two</p>
        {{insert_me}}
        <div class="djangotwo">
            {% if 'access_records' %} 
            <table border="2px">
                <thead>
                    <th>Site Name</th>
                    <th>Date accessesed</th>
                </thead>
                {% for acc in access_records %}
                <tr>
                    <td>{{acc.name}}</td>
                    <td>{{acc.date}} </td>
                </tr>
                {% endfor %}
            </table>
            {% else %}
            <p>No accees found</p>
             {% endif %}
            
        </div>
    </body>
</html>